.post-container {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  max-width: 50%;
}

.post-title {
  text-decoration: none;
  color: black;
}

.post-body {
  text-decoration: none;
  color: black;
}

.complete-post-container {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.commenter {
  margin: 1rem 0 0 0;
}

.comment-body {
  margin: 0.2rem 0 0rem 0;
}

.comment-container {
  margin-bottom: 1rem;
}

.vote-container {
  margin-top: 1rem;
}

.v-button:hover {
  cursor: pointer;
}
